Source: easy-switcher
Section: utils
Priority: optional
Maintainer: freemind <easy-switcher@mail.ru>
Standards-Version: 0.5

Package: easy-switcher
Architecture: amd64
Depends: libc6, libevdev2
Description: Keyboard layout switcher for Linux
 Easy Switcher is a keyboard layout switcher and input corrector for Linux.
